---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

I occasionally work on projects that are not directly related to my research. 
This page serves as a portfolio of those projects, showcasing my skills and interests outside of my main academic focus.
There are also two pages record some basic computer science knowledge on competitive programming and computer architecture. 
Here are the links to those pages:
<ul>
  <li><a href="https://zazabap.github.io/os">Computer Architecture Notes</a></li>
  <li><a href="https://zazabap.github.io/algo">Competitive Programming Notes</a></li>
</ul>

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

