# Ignore the contents of the _site directory and other cache directories
_site/
.sass-cache/

# Ignore the directory for local files during development
local/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ingore files created by npm
node_modules
package-lock.json
_posts/2012-08-14-blog-post-1.md
_posts/2013-08-14-blog-post-2.md
_posts/2014-08-14-blog-post-3.md
_posts/2015-08-14-blog-post-4.md
_posts/2199-01-01-future-post.md
_publications/2009-10-01-paper-title-number-1.md
_publications/2010-10-01-paper-title-number-2.md
_publications/2015-10-01-paper-title-number-3.md
_publications/2024-02-17-paper-title-number-4.md
